@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
    --color-mfk-yellow: #ffca08;
    --color-mfk-blue: #2065b0;
}

:root {
  --color-mfk-yellow: #ffca08;
  --color-mfk-blue: #2065b0;
}

.font-arabic {
  font-family: "IBM Plex Sans Arabic", serif;
  direction: rtl;
}

.font-english {
  font-family: "IBM Plex Sans", sans-serif;
  direction: ltr !important;
}

body {
  margin: 0;
  padding: 0;
}

#nprogress .bar {
  background: #ef4444 !important;
  /* Tailwind's red-500 */
}